.catalog {
  box-sizing: border-box;
  background-color: $lightest-grey;
}

.catalog__container {
  @include container; 

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: min-content min-content 1fr min-content;
    grid-template-areas:
  "promo promo"
  "title title"
  "form product"
  "pagination pagination";
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.catalog__promo {
  grid-area: promo;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;

  color: $color-primary;
}

.catalog__title {
  grid-area: title;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.catalog__inner {
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.catalog__pagination {
  grid-area: pagination;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  padding-top: 40px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    padding: 0 20px;
    padding-top: 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 60px;
  }
}

.catalog__pagination-list {
  @include reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 160px;

  @media (min-width: $tablet-width) {
    width: 165px;
  }

  @media (min-width: $desktop-width) {
    width: 160px;
  }
}

.catalog__pagination-link {
  display: block;
  box-sizing: border-box;
  min-height: 40px;
  min-width: 40px;
  padding: 8px;
  
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center;
  color: $color-primary;
  background-color: $color-white;
  border-radius: 4px;
  cursor: pointer;

  &--prev {
    background-image: url("../img/back.svg");

    @media (min-width: $tablet-width) {
      width: 140px;

      font-size: 14px;
    }
  }

  &--next {
    background-image: url("../img/next.svg");

    @media (min-width: $tablet-width) {
      width: 140px;
      margin-right: -20px;

      font-size: 14px;
    }

    @media (min-width: $desktop-width) {
      width: 148px;
      margin-right: -22px;
    }
  }

  &--current {
    font-weight: 600;
    
    color: $color-black;
    background-color: transparent;
  }

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $primary-lighter;
    color: $color-white;
  }

  &:active {
    background-color: $primary-darker;
    color: $color-white;
  }

  &--disabled {
    background-color: $light-grey;
    color: $color-white;
  }
}

.catalog__pagination-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

