.featuries {
  @include container;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.featuries__promo {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $color-primary;
}

.featuries__title {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;

  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;

    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.featuries__list {
  @include reset;

  display: grid;
  grid-template-rows: repeat(4, 142px);
  gap: 32px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 340px);
    grid-template-rows: auto;
    row-gap: 50px;
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

.featuries__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 65px;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: calc(50% - 26px);

    width: 52px;
    height: 56px;

    background-color: inherit;
    background-repeat: no-repeat;
  }

  &--speed {
    &::before {
      background-image: url(../img/featuries-1.svg);
    }
  }

  &--convenience {
    &::before {
      background-image: url(../img/featuries-2.svg);
    }
  }

  &--cheerfulness {
    &::before {
      background-image: url(../img/featuries-3.svg);
    }
  }

  &--ecology {
    &::before {
      background-image: url(../img/featuries-4.svg);
    }
  }

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    padding-left: 72px;
    padding-top: 0;

    &::before {
      left: 0;
      top: 2px;
    }
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    padding-top: 76px;
    padding-left: 0;

    &::before {
      left: calc(50% - 26px);
    }
  }
}

.featuries__subtitle {
  margin: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;

    font-size: 24px;
    line-height: 36px;
  }
}

.featuries__text {
  margin: 0;
  
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
