.main-header {
  @include container; 

  position: relative;

  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-color: $color-white;
  color: $color-black;

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.main-header--nojs .main-header__nav {
  display: block;
}

.main-header--nojs .main-header__toggle {
  display: none;
}

.main-header--nojs .main-header__nav,
.main-header--opened .main-header__nav {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    top: 60px;
    z-index: 5;

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    background-color: $color-white;
  }
}

.main-header--opened .main-header__toggle {
  background-image: url("../img/menu-close.svg");

  @media (max-width: $mobile-width-only) {
    .main-header--closed .main-header__nav {
      display: none;
    }

    .main-header--nojs .main-header__toggle {
      display: none;
    }

    .main-header--nojs .main-header__nav {
      position: static;

      display: block;
    }
  }
}

.main-header__logo {
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-right: 6px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    margin-right: 140px;
  }
}

.main-header__logo img {
  display: block;
  width: 32px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    height: 40px;
  }
}

.main-header__description {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    width: 150px;
    margin-left: 15px;

    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;
  }
}

.main-header__toggle {
  width: 40px;
  height: 40px;
  padding: 0;

  background-color: inherit;
  background-image: url("../img/menu-mobile.svg");
  background-repeat: no-repeat;
  background-position: right;
  border: none;
  cursor: pointer;

  &:active {
    background-color: $color-secondary;
  }

  &--closed {
    background-image: url("../img/menu-close.svg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__user-list {
  @include reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: end;

  @media (min-width: $tablet-width) {
    width: 120px;
  }

  @media (min-width: $desktop-width) {
    width: 278px;
    margin-left: auto;
  }
}

.main-header__user-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-left: 5px;
  }
}

.main-header__user-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;

  color: $color-black;
  cursor: pointer;

  &:active {
    background-color: $color-secondary;
  }

  @media (min-width: $tablet-width) {
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    min-width: 135px;

    &:hover,
    &:focus {
      color: $color-primary;

      & svg path {
        fill: $color-primary;
      }
    }
  }
}

.main-header__nav {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.main-header__nav-list {
  @include reset;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    max-width: 800px;
  }
}

.main-header__nav-item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px solid $color-secondary;

  &:last-child {
    padding: 0;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.main-header__nav-link {
  width: 100%;
  padding: 20px 128px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;

  color: $color-black;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-primary;
  }

  &:active {
    background-color: $color-secondary;
  }

  &--current {

    @media (min-width: $tablet-width) {
      position: relative;
      
      color: $color-primary;
    
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 2px;

        background-color: $color-primary;
      }
    }  
  }  

  @media (min-width: $tablet-width) {
    padding: 32px 20px;
  }
}
