.social-list {
  @include reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 10px;

  @media (min-width: $desktop-width) {
    justify-self: flex-start;
    margin-left: 30px;
    padding-top: 0;
  }  
}

.social-list__item {
  width: 40px;
  height: 40px;
}

.social-list__link {
  width: 40px;
  height: 40px;
  
  border-radius: 4px;

  & > svg path {
    fill: $color-grey;
  }

  &:hover,
  &:focus {
    outline: none;

    & svg path {
      fill: $primary-lighter;
    }
  }

  &:active {
    & svg path {
      fill: $color-primary;
    }
  }
}
